html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  color: #fff;
  border: 3px solid #595652;
  line-height: 1.5;
  list-style-type: none;
}

body {
    background-color: #79756F;
    margin: .3em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.links {
  margin: .3em;
  padding: .5rem;
  text-align: center;
}

h1 {
  font-family: Bevan, sans-serif;
  text-align: center;
}

.links a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 3px;
}

.links li {
  display: inline-block;
  margin: .1rem;
  max-width: 20em;
}

.links a:hover {
  background-color: #f33;
}
