html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  color: #fff;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.links {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: Bevan, sans-serif;
  text-align: center;
}

.links a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
}

body {
  display: inline-block;
  margin: .6em;
  max-width: 20em;
  padding: 1em;
  background-color: #79756f;
  border: 3px solid #595652;
  border-radius: 10px;
  text-align: center;
}

.links a:hover {
  background-color: #f33;
}
