html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  border: 3px solid #595652;
  line-height: 1.5;
  list-style-type: none;
}

body {
  background-color: #79756f;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.links {
  margin: .3em;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  text-align: center;
  margin: 0;
}

.links a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}

.links li {
  display: inline-block;
  margin: .3em;
  max-width: 20em;
}

.links a:hover {
  background-color: #f33;
}
